body{
    font-family: Verdana;
    background-color: black;
    text-align: center;
}

.header{    
    font-size: 50px;
    font-weight: normal;
    color:white;
    text-align: center;      
}

.downloadexcursion{
    font-size: 16px;
    font-weight: normal;
    color:aquamarine; 
    margin-top: 30px;   
}

a:-webkit-any-link {
    color:aquamarine; 
}

.videoexcursion
{
    margin-top: 30px; 

}

.mediumtext {
    font-size: 42px;
    font-weight: 300;
    color:white;
    text-align: center; 
    margin-top: 30px; 
}

.smalltext {
    font-size: 21px;
    font-weight: 300;
    color:gray;
    text-align: center; 
    margin-top: 30px; 
}

.resimg {
    margin-top: 20px;
}

.cprttext{
    font-size: 21px;
    font-weight: 300;
    color:gray;
    text-align: right; 
    margin-top: 20px; 
}